#square {
   background: #6bcc15;
  border-radius: 6px;
  cursor: pointer;
  height: 300px;
  line-height: 95px;
  text-align: center;
  transition-property: background;
  transition-duration: 1s;
  transition-delay: .2s;
  transition-timing-function: linear;
  width: 300px;
}
#square:hover {
  background: #ef2f6e;
}



#infinity {
    position: relative;
    width: 212px;
    height: 100px;
}

#infinity:before,
#infinity:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 60px;
    height: 60px;
    border: 20px solid red;
    -moz-border-radius: 50px 50px 0 50px;
         border-radius: 50px 50px 0 50px;
    -webkit-transform: rotate(-45deg);
       -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
         -o-transform: rotate(-45deg);
            transform: rotate(-45deg);
}

#infinity:after {
    left: auto;
    right: 0;
    -moz-border-radius: 50px 50px 50px 0;
         border-radius: 50px 50px 50px 0;
    -webkit-transform: rotate(45deg);
       -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
         -o-transform: rotate(45deg);
            transform: rotate(45deg);
}
#infinity:hover {
  background: green;
}
#triangle-right {
   width: 0;
   height: 0;
   border-radius: 15px;
   border-top: 50px solid transparent;
   border-left: 100px solid black;
   border-bottom: 50px solid transparent;
    transition-property: background;
  transition-duration: 1s;
  transition-delay: .2s;
  transition-timing-function: linear;
}
#triangle-right:hover {
  background: blue;
}


